.square {
  float: left;
  width: 30%;
  height: 80px;
  margin: 1px;
  border: 1px solid black;
  text-align: justify;
}


.x {
  float: left;
  background-color: green;
  width: 30%;
  height: 80px;
  margin: 1px;
  border: 1px solid black;

}

.y {
  float: left;
  background-color: blue;
  width: 30%;
  height: 80px;
  margin: 1px;
  border: 1px solid black;

}
