.square {
  float: left;
  width: 30%;
  height: 80px;
  margin: 1px;
  border: 1px solid black;
  text-align: justify;
}


.x-player {
  background-color: green;
}

.y-player {
  background-color: blue;
}
