body {
  background-image: url(images/congress.jpg);

  font-family: 'Crafty Girls', cursive;
  color: white;

}


$hover-color:    #3d4250;
$player-1-color: #dc685a
$player-2-color: #ecaf4f;

#main-area {
  display: inline-block;
  width: 80%
}


.board {
  width: 80%;
  padding-left: 10%;

}

.game-info {
  text-align: center;
}


.square {
  display: inline-block;
  width: 31.333%;
  height: 100px;
  margin-right: 1.7%;
  margin-bottom: 2%;
  /*border: 1px solid black;*/
  overflow: hidden;
  vertical-align: top;
  border-radius: 10px;
  transition: background 1s;
  background-color: #FFFFFF;

}

.square:hover {

}



header {
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.game-info {
  margin: 10px;
height: auto;
}

#currentplayer {
  width: 31.333%;
  margin-right: 1.5%;
  margin-bottom: 2%;

  height: 60px;

  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  background-image: url(images/stars.jpg);

}
#score-count-x {
  width: 31.333%;
  margin-right: 1.5%;
  margin-bottom: 2%;

  height: 60px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #BF0A30;

}

#winner {
  background-color: grey;
  height: 60px;
  border-radius: 10px;
  display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */



}

#score-count-y {
  width: 31.333%;
  margin-right: 1.5%;
  margin-bottom: 2%;

    height: 60px;
  display: inline-block;
  border: 1px solid black;
 align-content: center;
 border-radius: 5px;
 background-color: #002868;


}


#currentplayer {
  background-size: contain;
}



.x {
  display: inline-block;
  width: 31.333%;
  height: 100px;
  margin-right: 1.7%;
  margin-bottom: 2%;
  /*border: 1px solid black;*/
  overflow: hidden;
  vertical-align: top;
  border-radius: 5px;

  overflow: hidden;
  background-image: url(images/hilary.jpg);
  background-size: contain;
}


.y {
  display: inline-block;
  width: 31.333%;
  height: 100px;
  margin-right: 1.7%;
  margin-bottom: 2%;
  /*border: 1px solid black;*/
  overflow: hidden;
  vertical-align: top;
  border-radius: 5px;

  overflow: hidden;
  background-image: url(images/trump.jpg);
  background-size: contain;
}


body {
  font-family:sans-serif;
}

@media (max-width: 600px) {

#currentplayer {
  display: none;
}
}
